:root{
  --bg: #F5F5F5;
  --primary: #228B22;
  --accent: #32CD32;
  --warn: #FFD700;
  --text: #333333;
  --panel: #FFFFFF;
  --success: #1F8B24;
  --danger: #D32F2F;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
